@{
    Layout = "_Layout";
    var code = ViewBag.StatusCode ?? 500;
    string message = code switch
    {
        404 => "Страницата не беше намерена.",
        403 => "Нямате достъп до тази страница.",
        500 => "Възникна вътрешна грешка в сървъра.",
        _ => "Нещо се обърка."
    };
}


<div class="container text-center py-5 glass-container">
    <h1 class="error-code">404</h1>
    <p class="error-text">Страницата не беше намерена.</p>
    <a href="/" class="btn btn-outline-light mt-3">Начало</a>

</div>
